<!DOCTYPE html>
<html>
  <head>
    <title>Zoomie Patches</title>
    <link type="image/png" rel="icon" href="@Href("content/favicon.png")" />
    <link type="text/css" rel="stylesheet" href="@Href("css/zoomiepatches.css")" />
  </head>
  <body>
    <div id="divMain">
      <header>
        <h1><a href=@Href("~/")>Zoomie Patches</a></h1>
      </header>
      <nav></nav>
      <div id="divContent">@RenderBody()
      </div>
    </div>
    <footer></footer>
  </body>
</html>
