html, body {margin: 0; padding: 0; background: #000022}

body {font-family: Calibri}

header {height: 160px; padding: 16px; color: #FFFF00; background: -webkit-linear-gradient(top, #000011 0%, #000077 100%); text-align: center; border-radius: 8px}

a {color: #FFFF00; text-decoration: none}
